/**
 * Tabs (local tasks).
 * Tab styles leverage AT's responsive lists JS feature. This sets a class if
 * the list is too wide for it's container. This allows us to dynamically change
 * the design of the tabs menu if they are too wide. We use media queries as a
 * no-js fallback.
 ============================================================================ */
.tabs {
  padding: 0;
  margin: 1rem 0;
}

.tabs ul {
  margin-bottom: 1rem;
  padding: 0;
}

.tabs ul:before, .tabs ul:after {
  content: " ";
  display: table;
}

.tabs ul:after {
  clear: both;
}

.tabs ul.tabs--primary {
  margin-bottom: 0;
}

.tabs .is-vertical ul.tabs--primary {
  border-bottom: 0;
}

.tabs .is-vertical ul.tabs--primary li {
  list-style: none;
}

.tabs .is-vertical ul.tabs--primary li:first-child a {
  border-radius: 2px 2px 0 0;
}

.tabs .is-vertical ul.tabs--primary li:last-child a {
  border-radius: 0 0 2px 2px;
}

.tabs .is-vertical ul.tabs--primary li a {
  color: #fcfbfb;
  background-color: #85cef1;
  border: 1px #85cef1 solid;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  line-height: 1;
  width: auto;
  display: block;
  position: relative;
  transition: all, 225ms, ease-in-out;
}

.tabs .is-vertical ul.tabs--primary li a:link, .tabs .is-vertical ul.tabs--primary li a:visited {
  color: #fcfbfb;
  background-color: #85cef1;
  border-color: #85cef1;
}

.tabs .is-vertical ul.tabs--primary li a:hover, .tabs .is-vertical ul.tabs--primary li a:focus, .tabs .is-vertical ul.tabs--primary li a:active, .tabs .is-vertical ul.tabs--primary li a.active {
  color: #fcfbfb;
  background-color: #85cef1;
  border-color: #85cef1;
}

.tabs .is-vertical ul.tabs--secondary {
  text-align: left;
}

.tabs .is-vertical ul.tabs--secondary:before, .tabs .is-vertical ul.tabs--secondary:after {
  content: " ";
  display: table;
}

.tabs .is-vertical ul.tabs--secondary:after {
  clear: both;
}

.tabs .is-vertical ul.tabs--secondary li {
  list-style: none;
}

.tabs .is-vertical ul.tabs--secondary a {
  display: inline-block;
  line-height: 1;
  color: #443535;
  border-bottom: 1px solid transparent;
  border-left: 3px solid;
  transition: all, 225ms, ease-in-out;
  padding: 0.75rem 1rem 0.5rem 0.875rem;
}

.tabs .is-vertical ul.tabs--secondary a:hover, .tabs .is-vertical ul.tabs--secondary a:focus {
  text-decoration: none;
  color: #443535;
  border-bottom: 1px solid #cdebf9;
}

.tabs .is-vertical ul.tabs--secondary a.active, .tabs .is-vertical ul.tabs--secondary a.is-active {
  border-bottom: 1px solid #d5c9c9;
}

.tabs .is-vertical ul.tabs--secondary a.active:hover, .tabs .is-vertical ul.tabs--secondary a.active:focus, .tabs .is-vertical ul.tabs--secondary a.is-active:hover, .tabs .is-vertical ul.tabs--secondary a.is-active:focus {
  color: #443535;
}

.tabs .is-horizontal ul.tabs--primary {
  border-bottom: 1px solid #cdebf9;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tabs .is-horizontal ul.tabs--primary li {
  margin: 0 0 0 0;
  list-style: none;
}

[dir="rtl"] .tabs .is-horizontal ul.tabs--primary li {
  margin-right: 0;
  margin-left: 0;
}

.tabs .is-horizontal ul.tabs--primary li {
  margin-bottom: -1px;
}

.tabs .is-horizontal ul.tabs--primary li:first-child a {
  border-radius: 2px 0 0 0;
}

.tabs .is-horizontal ul.tabs--primary li:last-child a {
  border-radius: 0 2px 0 0;
}

.tabs .is-horizontal ul.tabs--primary a {
  display: block;
  line-height: 1;
  color: #443535;
  background-color: #f7fbfe;
  border: 1px solid #cdebf9;
  padding: 0.5rem 1rem;
  transition: background-color, .15s, ease-in-out;
  margin-right: -1px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
}

.tabs .is-horizontal ul.tabs--primary a:hover, .tabs .is-horizontal ul.tabs--primary a:focus {
  color: #443535;
  background-color: #edf8fd;
  text-decoration: none;
}

.tabs .is-horizontal ul.tabs--primary a.active, .tabs .is-horizontal ul.tabs--primary a.is-active {
  color: #443535;
  background: none;
  border-bottom-color: #f7fbfe;
}

.tabs .is-horizontal ul.tabs--primary a.active:hover, .tabs .is-horizontal ul.tabs--primary a.active:focus, .tabs .is-horizontal ul.tabs--primary a.is-active:hover, .tabs .is-horizontal ul.tabs--primary a.is-active:focus {
  color: #443535;
  background: none;
}

.tabs .is-horizontal ul.tabs--secondary {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.tabs .is-horizontal ul.tabs--secondary li {
  margin: 0 0 0 0;
  list-style: none;
}

[dir="rtl"] .tabs .is-horizontal ul.tabs--secondary li {
  margin-right: 0;
  margin-left: 0;
}

.tabs .is-horizontal ul.tabs--secondary a {
  display: block;
  line-height: 1;
  color: #443535;
  border-bottom: 1px solid #daf0fa;
  transition: all, 225ms, ease-in-out;
  padding: 1rem 0.5rem 0.625rem;
  margin-right: 1rem;
}

.tabs .is-horizontal ul.tabs--secondary a:hover, .tabs .is-horizontal ul.tabs--secondary a:focus {
  text-decoration: none;
  color: #443535;
  border-bottom: 1px solid #cdebf9;
}

.tabs .is-horizontal ul.tabs--secondary a.active, .tabs .is-horizontal ul.tabs--secondary a.is-active {
  border-bottom: 1px solid #d5c9c9;
}

.tabs .is-horizontal ul.tabs--secondary a.active:hover, .tabs .is-horizontal ul.tabs--secondary a.active:focus, .tabs .is-horizontal ul.tabs--secondary a.is-active:hover, .tabs .is-horizontal ul.tabs--secondary a.is-active:focus {
  color: #443535;
}

@media screen and (max-width: 60em) {
  .no-js .tabs ul.tabs--primary {
    border-bottom: 0;
  }
  .no-js .tabs ul.tabs--primary li {
    list-style: none;
  }
  .no-js .tabs ul.tabs--primary li:first-child a {
    border-radius: 2px 2px 0 0;
  }
  .no-js .tabs ul.tabs--primary li:last-child a {
    border-radius: 0 0 2px 2px;
  }
  .no-js .tabs ul.tabs--primary li a {
    color: #fcfbfb;
    background-color: #85cef1;
    border: 1px #85cef1 solid;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
    margin-bottom: -1px;
    padding: 0.5rem 1rem;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    width: auto;
    display: block;
    position: relative;
    transition: all, 225ms, ease-in-out;
  }
  .no-js .tabs ul.tabs--primary li a:link, .no-js .tabs ul.tabs--primary li a:visited {
    color: #fcfbfb;
    background-color: #85cef1;
    border-color: #85cef1;
  }
  .no-js .tabs ul.tabs--primary li a:hover, .no-js .tabs ul.tabs--primary li a:focus, .no-js .tabs ul.tabs--primary li a:active, .no-js .tabs ul.tabs--primary li a.active {
    color: #fcfbfb;
    background-color: #85cef1;
    border-color: #85cef1;
  }
  .no-js .tabs ul.tabs--secondary {
    text-align: left;
  }
  .no-js .tabs ul.tabs--secondary:before, .no-js .tabs ul.tabs--secondary:after {
    content: " ";
    display: table;
  }
  .no-js .tabs ul.tabs--secondary:after {
    clear: both;
  }
  .no-js .tabs ul.tabs--secondary li {
    list-style: none;
  }
  .no-js .tabs ul.tabs--secondary a {
    display: inline-block;
    line-height: 1;
    color: #443535;
    border-bottom: 1px solid transparent;
    border-left: 3px solid;
    transition: all, 225ms, ease-in-out;
    padding: 0.75rem 1rem 0.5rem 0.875rem;
  }
  .no-js .tabs ul.tabs--secondary a:hover, .no-js .tabs ul.tabs--secondary a:focus {
    text-decoration: none;
    color: #443535;
    border-bottom: 1px solid #cdebf9;
  }
  .no-js .tabs ul.tabs--secondary a.active, .no-js .tabs ul.tabs--secondary a.is-active {
    border-bottom: 1px solid #d5c9c9;
  }
  .no-js .tabs ul.tabs--secondary a.active:hover, .no-js .tabs ul.tabs--secondary a.active:focus, .no-js .tabs ul.tabs--secondary a.is-active:hover, .no-js .tabs ul.tabs--secondary a.is-active:focus {
    color: #443535;
  }
}

@media screen and (min-width: 60.0625em) {
  .no-js .tabs ul.tabs--primary {
    border-bottom: 1px solid #cdebf9;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    white-space: nowrap;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .no-js .tabs ul.tabs--primary li {
    margin: 0 0 0 0;
    list-style: none;
  }
  [dir="rtl"] .no-js .tabs ul.tabs--primary li {
    margin-right: 0;
    margin-left: 0;
  }
  .no-js .tabs ul.tabs--primary li {
    margin-bottom: -1px;
  }
  .no-js .tabs ul.tabs--primary li:first-child a {
    border-radius: 2px 0 0 0;
  }
  .no-js .tabs ul.tabs--primary li:last-child a {
    border-radius: 0 2px 0 0;
  }
  .no-js .tabs ul.tabs--primary a {
    display: block;
    line-height: 1;
    color: #443535;
    background-color: #f7fbfe;
    border: 1px solid #cdebf9;
    padding: 0.5rem 1rem;
    transition: background-color, .15s, ease-in-out;
    margin-right: -1px;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  }
  .no-js .tabs ul.tabs--primary a:hover, .no-js .tabs ul.tabs--primary a:focus {
    color: #443535;
    background-color: #edf8fd;
    text-decoration: none;
  }
  .no-js .tabs ul.tabs--primary a.active, .no-js .tabs ul.tabs--primary a.is-active {
    color: #443535;
    background: none;
    border-bottom-color: #f7fbfe;
  }
  .no-js .tabs ul.tabs--primary a.active:hover, .no-js .tabs ul.tabs--primary a.active:focus, .no-js .tabs ul.tabs--primary a.is-active:hover, .no-js .tabs ul.tabs--primary a.is-active:focus {
    color: #443535;
    background: none;
  }
  .no-js .tabs ul.tabs--secondary {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .no-js .tabs ul.tabs--secondary li {
    margin: 0 0 0 0;
    list-style: none;
  }
  [dir="rtl"] .no-js .tabs ul.tabs--secondary li {
    margin-right: 0;
    margin-left: 0;
  }
  .no-js .tabs ul.tabs--secondary a {
    display: block;
    line-height: 1;
    color: #443535;
    border-bottom: 1px solid #daf0fa;
    transition: all, 225ms, ease-in-out;
    padding: 1rem 0.5rem 0.625rem;
    margin-right: 1rem;
  }
  .no-js .tabs ul.tabs--secondary a:hover, .no-js .tabs ul.tabs--secondary a:focus {
    text-decoration: none;
    color: #443535;
    border-bottom: 1px solid #cdebf9;
  }
  .no-js .tabs ul.tabs--secondary a.active, .no-js .tabs ul.tabs--secondary a.is-active {
    border-bottom: 1px solid #d5c9c9;
  }
  .no-js .tabs ul.tabs--secondary a.active:hover, .no-js .tabs ul.tabs--secondary a.active:focus, .no-js .tabs ul.tabs--secondary a.is-active:hover, .no-js .tabs ul.tabs--secondary a.is-active:focus {
    color: #443535;
  }
}
/*# sourceMappingURL=tabs.css.map */